body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(https://media.istockphoto.com/id/1360927961/es/foto/fondo-abstracto-con-entrelazamiento-de-l%C3%ADneas-y-puntos-de-colores-estructura-de-conexi%C3%B3n-de.jpg?s=612x612&w=0&k=20&c=fQMuV5lCMxs3u3FZV2Vzhm--XxJGI5uUjMDj5o1SpG8=);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.header {
    position: relative;
    background: url('https://img.freepik.com/vector-gratis/fondo-realista-estilo-futurista_23-2149129125.jpg') no-repeat center center/cover;
    padding: 100px 20px;
    text-align: center;
    color: white;
}

.header h1 {
    font-style: inherit;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.header p {
    font-size: 18px;
    margin-top: 20px;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    max-width: 80%;
}

header {
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}

.logo-container {
    display: flex;
    align-items: left;
    gap: 10px; /* Espacio entre el logo y el texto */
}

.logo-container img {
    width: 40px; /* Ajusta según el tamaño del logo */
    height: 40px;
}


h1 {
    font-size: 36px;
    margin: 10px 0;
}

.info {
    text-align: center;
    padding: 50px 20px;
    background: black;
}

.info-button {
    background: #416186;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;;
}

.logros {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logro {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 250px;
}

.logro img {
    width: 100%;
    border-radius: 10px;
}

footer {
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
}


